<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <header class="entry-header">
                <h1 class="entry-title page-title">About</h1>
            </header>
            <!-- .entry-header -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <article>
                        <div class="entry-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa cumque dolore
                            explicabo facere illum, in, inventore laboriosam magni maiores non, quos repellat
                            repudiandae sit voluptatem? Architecto eligendi nemo temporibus.
                        </div>
                        <!-- .entry-content -->
                    </article>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <div class="col-xs-4">
            <div id="secondary" class="widget-area main-sidebar" role="complementary">
            </div>
            <!-- #secondary -->
        </div>
    </div>
</div>