.site-header {
  background: $biscay;
  padding: 23px 0;
}

.site-footer {
  background: $ecru;
  padding-top: 75px;
  .widget-area {
    margin-bottom: 50px;
  }
}


.home-articles {
  padding: 75px 0;
}








// Common styles
.heading-line {
  border-bottom: 1px solid black(0.2);
  padding-bottom: 20px;
}




// Widget
.widget-title {
  @include post-heading;
  @extend .heading-line;

}