.site-header {
  background: $biscay;
  padding: 23px 0;
}

.site-footer {
  background: $ecru;
  padding-top: 75px;
  .widget-area {
    margin-bottom: 50px;
  }
}




.page-wrapper {
  padding: 70px 0 80px;
}
.page-template-page_home.page-wrapper {
  padding: 0;
}



.page-title {
  @include post-heading;
  @extend .heading-line-bold;
  font-size: 46px;
}



.main-sidebar {
  background: $athens;
  margin-bottom: -80px;
  margin-top: -20px;
  padding: 10px 20px;
}

// Widget
.widget-title {
  @include post-heading;
  @extend .heading-line;

}