<div id="content" class="site-content page-wrapper page-template-page_home" ng-controller="homeController as home">

    <section class="main-pov">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="main-pov__content">
                        <h1>{{::home.data.acf.homepage_intro_heading}}</h1>

                        <p>{{::home.data.acf.homepage_intro_content}}</p>

                        <div class="main-pov__cta">
                            <a ng-href="{{::home.data.acf.intro_buttons[0].homepage_cta_url}}"
                               class="btn btn-basic large">{{::home.data.acf.intro_buttons[0].homepage_cta_text}}</a>
                            <span>or</span>
                            <a ng-href="{{::home.data.acf.intro_buttons[1].homepage_cta_url}}"
                               class="btn btn-ghost large">{{::home.data.acf.intro_buttons[1].homepage_cta_text}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-articles">
        <div class="container">
            <div class="row">

                <div ng-repeat="hp in home.data.acf.homepage_content" class="col-xs-4">
                    <article class="post">
                        <header>
                            <h2 class="post__title"><a href="#">{{::hp.homepage_content_heading}}</a>
                            </h2>
                        </header>
                        <div class="entry" ng-bind-html="hp.homepage_content_text | toTrusted"></div>
                    </article>
                </div>

            </div>
        </div>
    </section>
</div><!-- #content -->