///* -----------------------------------------
//   Functions
//----------------------------------------- */

/* -----------------------------------------
   Functions
----------------------------------------- */

@function black($opacity) {
	@return rgba(0, 0, 0, $opacity)
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity)
}

@mixin breakpoint($breakpoint) {
	@media screen and (min-width: $breakpoint) {
		@content;
	}
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	@include translateY(-50%);
}


@mixin image-replace {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}