/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
  clear: both;
  display: block;
  float: right;
  margin-top: 10px;
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 16px;
  }
  li {
    float: left;
    position: relative;
    padding: 0 25px;
  }
  a {
    display: block;
    text-decoration: none;
    color: #FFF;
  }
  ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999;
    ul {
      left: -999em;
      top: 0;
    }
    a {
      width: 200px;
    }
    li {}
  }
  li {
    &:hover > a, &.focus > a {}
  }
  ul {
    ul {
      :hover > a, .focus > a {}
      a {
        &:hover, &.focus {}
      }
    }
    li {
      &:hover > ul, &.focus > ul {
        left: auto;
      }
    }
    ul li {
      &:hover > ul, &.focus > ul {
        left: 100%;
      }
    }
  }
  .current_page_item > a, .current-menu-item > a, .current_page_ancestor > a {}
}






.site-main {
  .comment-navigation, .posts-navigation, .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
  }
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}