// Posts
.post {

}

.post__title {
  @include post-heading;
  @extend .heading-line;
}

// Tab Posts

.post-box {
  .post {
    width: 363px;
    margin: 0 20px;
    display: inline-block;
    //background-color: red;
    vertical-align: top;
    &:nth-child(3n+1) {
      margin-left: 0;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  .entry-title {
    font-size: 20px;
    margin-bottom: 4px;
  }
  .entry-meta, .entry-content {
    font-size: 16px;
    color: black(0.7);
  }
}

.entry-meta {
  .source {
    font-weight: 600;
  }
  .sep {
    display: inline-block;
    width: 8px;
  }
}