<!--Resources Tab View-->
<div class="post-box resources-posts">
    <article class="post resources-post-type" ng-repeat="resourcePost in resourcePosts">
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="{{ resourcePost.index }}">{{ resourcePost.title }}</a>
            </h2>
            <div class="entry-meta">
                <span class="author">{{ resourcePost.author }}</span>
                <span class="separator"></span>
                <span class="source">{{ resourcePost.source }}</span>
            </div>
        </header>
        <div class="entry-content">
            <p>
                {{ resourcePost.excerpt }}
            </p>
        </div>
    </article>
</div>