<div class="post-box resources-posts">


    <article class="post resources-post-type">
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </h2>

            <div class="entry-meta">
                <span class="author">John Doe</span>
                <span class="separator"></span>
                <span class="source">America Board of Internal MEdicine</span>
            </div>
        </header>
        <div class="entry-content">
            <p>
                As I watched, the planet seemed to grow larger and smaller and to advance and recede, but that was
                simply that my eye was tired. Forty millions of miles it was from us–more than forty millions of miles
                of void. Few people realise the immensity of vacancy in which the dust of the material universe swims.
            </p>
        </div>
    </article>
</div>
