

.pagination-centered ul.page-numbers li {
	float: none;
	display: inline-block;
}

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know

.page-numbers {
	@include pagination;
	height: rem-calc(28);
}

.page-numbers li {
	height: rem-calc(28);
	margin-left: rem-calc(8);

	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $panel-1;
		color: #000;
		font-weight: normal;
		cursor: $pagination-link-current-cursor;
		padding: rem-calc(3) rem-calc(10);
		@include border-radius(0);
	}
	a {
		padding: rem-calc(3) rem-calc(10);
		@include border-radius(0);
		&.next, &.prev {
			padding: rem-calc(3) rem-calc(2);
		}
		&:focus {
			text-decoration: none;
			background: $primary-light;
			color: #FFF;
		}
	}
	&:hover a {
		text-decoration: none;
		background: darken($panel-1, 20%);
		color: #FFF;
		padding: rem-calc(3) rem-calc(10);
		@include border-radius(0);
		color: #000;
		&.next, &.prev {
			padding: rem-calc(3) rem-calc(2);
		}
	}
	i {
		font-size: rem-calc(18);
		line-height: 1;
	}
}

.nav-links {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	hyphens: auto;
	word-wrap: break-word;
	overflow: hidden;
}

.post-navigation {
	padding: 0 0 rem-calc(10px) 0;
	margin: 0 0 rem-calc(20px) 0;
	a {
		padding: rem-calc(11px) 0 rem-calc(12px);
		width: 100%;
	}
	.meta-nav {
		color: black(0.8);
		display: block;
		font-size: rem-calc(12px);
		font-weight: 100;
		line-height: 2;
		text-transform: uppercase;
	}
	a {
		color: black(0.8);
		display: block;
		font-size: rem-calc(14px);
		font-weight: 700;
		line-height: 1.4;
		width: 50%;
		float: left;
		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}

}