.index-card {
    border-bottom: 1px solid black(0.1);
    padding-bottom: rem-calc(32);
    margin-bottom: rem-calc(32);
}

.single-post .index-card {
    margin-bottom: 0;
}

.entry-header {
    margin-bottom: rem-calc(20);
    > h2 {
        font-size: rem-calc(33px);
		word-break: break-word;
        a {
            color: $gray;
            &:hover {
                color: $primary;
            }
        }
    }

    .entry-meta {
        font-size: rem-calc(12px);
        text-transform: uppercase;
        line-height: 1.5;
        > span {
            margin-right: rem-calc(10px);
        }
    }
}

.single-entry-title {
    font-size: rem-calc(40px);
    font-weight: 600;
}

//
//.entry-tags {
//  color: black(1);
//  font-size: rem-calc(15);
//  a {
//    color: #999;
//    &:hover, &:focus {
//      color: $body-font-color;
//    }
//  }
//}
.entry-content {
	> h1, > h2, > h3, > h4 {
		@extend .fr;
//		font-family: $sans-serif;
	}
}
.entry-content, .entry-summary {
    margin-bottom: rem-calc(30px);
}

.entry-meta {
    time.entry-date:before, .byline a:before, .categories-links a:first-child:before, .tags-links a:first-child:before, .author a:before {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .2em;
        content: "\e81f";
    }
    .byline a:before, .author a:before {
        content: "\e81a";
    }
    .categories-links a:first-child:before {
        content: "\e866";
    }
    .tags-links a:first-child:before {
        content: "\e836";
    }

}

span.entry-date > a {
	@include hover-link;
	@include link-colors(black(0.5), $gray);
       time {
			@include link-colors(black(0.6), black(0.8));
		}
}

span.comments-link > a {
	@include hover-link;
	@include link-colors(black(0.5), $gray);
}

.site-content .entry-meta > span {
    margin-right: 10px;

}

.entry-meta .tag-links {
    a {
        background-color: black(0.08);
        border-radius: 0 2px 2px 0;
        color: $gray-dark;
        display: inline-block;
        font-size: rem-calc(10px);
        font-weight: 400;
        line-height: 1.3;
        margin: rem-calc(2px) rem-calc(4px) rem-calc(2px) rem-calc(10px);
        padding: rem-calc(3px) rem-calc(7px) rem-calc(4px);
        // padding: 3px 7px;
        position: relative;
        text-transform: uppercase;
    }
    a:before {
        border-top: 10px solid transparent;
        border-right: 8px solid black(0.08);
        border-bottom: 10px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        @include transition(all 100ms linear);
    }
    a:after {
        background-color:  #FFF;
        border-radius: 50%;
        content: "";
        height: 4px;
        position: absolute;
        top: rem-calc(8px);
        left: rem-calc(-2px);
        width: rem-calc(4px);
    }
    a:hover {
        background-color: $primary-light;
        color: #FFF;
        &:before {
            border-right: 8px solid $primary-light;
        }
    }
}

.entry-meta .cat-links {
    a {
        color: $primary;
        &:hover {
            color: black(1);
            text-decoration: underline;
        }
    }
}

span.author,
time, span.categories-links, span.tags-links {
    font-size: rem-calc(12px);
    color: black(0.5);

    a {
		@include link-colors(black(0.5), $gray);
		@include hover-link;
    }
}

span.author.vcard {
    display: inline;
    padding: 0;
    border: 0;
    .fn {
        font-weight: 400;
        font-size: rem-calc(12px);
    }
}

.entry-author {
    background-color: #FBFBFB;
    border: none;
    padding: rem-calc(50) rem-calc(80);
    margin: rem-calc(50) (-($column-gutter/2));
    .avatar {
        margin-right: rem-calc(40);
        margin-bottom: rem-calc(24);
    }
    h4 {
        a {
            color: $gray-lighter;
            &:hover, &:focus {
                color: $gray;
            }
        }
    }
    p {
        color: $gray-light;
    }
}

// add some basic comment styles
ol.commentlist {
    margin-left: 0;
    margin-top: 2em;
    p {
        font-size: rem-calc(15);
        line-height: 1.5;
    }
    ul.children {
        margin-left: rem-calc(64);
    }
    li {
        list-style: none;
        margin-bottom: 2em;

        .comment-author img {
            float: left;
            margin: 0 1em 0 0;
        }
        .author-meta {
            display: inline-block;
            cite.fn {
                font-size: rem-calc(16px);
                font-style: normal;
                font-weight: 600;
                margin-right: rem-calc(8);
                a {
                    color: $gray-light;
                }
            }
            time a {
                color: $gray-light;
                font-size: rem-calc(12);
                text-transform: uppercase;
                margin-right: rem-calc(8);
            }
            .comment-edit-link {
                color: $gray-light;
                font-size: rem-calc(12);
            }
        }
        section.comment {
            margin-left: rem-calc(64);
            margin-bottom: rem-calc(32);
            a.comment-reply-link {
                font-size: rem-calc(14);
                font-weight: 600;
                color: $primary-light;
                &:hover, &:focus {
                    color: $gray;
                }
            }
        }
    }
    > li:first-child > article {
        border-top: 0;
    }
    article {
        border-top: 1px solid black(0.1);
        padding-top: 2em;
    }
}

/*---Comment---*/
#comments {
    margin-bottom: rem-calc(60px);
    > h3 {
        font-size: rem-calc(16px);
        text-transform: uppercase;
    }
}

#respond {
    > h3 {
        font-size: rem-calc(16px);
        text-transform: uppercase;
    }
}

#commentform {
    p {
        font-size: rem-calc(14px);
    }
    textarea#comment {
        min-height: rem-calc(100px);
    }
    label {
        margin-bottom: rem-calc(4px)
    }
}

// ul.comment_list {
//    padding-left: 0;
//}
//.comment_list {
//    li {
//        list-style: none;
//        border-bottom: 2px dotted #E8E8E8;
//        padding: 10px 0;
//        li {
//            list-style: none;
//            border-bottom: none;
//        }
//    }
//    .depth_2 {
//        padding: 0 0 0 25px;
//    }
//    .depth_3 {
//        padding: 0 0 0 50px;
//    }
//    .children {
//        margin: 0;
//        padding-left: 70px;
//        li {
//            padding: 0;
//        }
//    }
//}
//.comment_container {
//    margin: 0 0 10px;
//}
//.gravatar img {
//    border: 1px solid #F2F2F2;
//    padding: 4px;
//    margin: 0;
//}
//.comment_text {
//    margin: 0 0 0 70px;
//    h5 {
//        margin: 0;
//        a {
//            color: $primary-color;
//        }
//    }
//}
//.comment-meta-container {
//    overflow: hidden;
//    margin-bottom: 6px;
//}
//.comment-meta {
//    width: 300px;
//    a {
//        color: #444;
//    }
//}
//#contact_form .form_field_half {
//    width: 300px;
//    padding: 0 10px 15px 0;
//}
//.bypostauthor .comment_text {
//    color: #333;
//}
//

/*---Comment Form---*/

.comment-respond .form-submit input.submit {
	font-family: $sans-serif;
	color: white;
	background: #43AC6A;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
	@include single-box-shadow(0, -0.063rem, 0, 0, rgba(0, 0, 0, 0.1), true);
	@include border-radius(rem-calc(2px));
	padding: rem-calc(7px) rem-calc(18px) rem-calc(8px);

	&:hover {
		text-decoration: none;
		background: #368a55;
	}
}
// #respond h3, #comments h3 {
//    font-size: 22px;
//    font-size: 1.375rem;
//}
//

.avatar {
    @include border-radius(50%);
    float: left;
}

.more-link {
    font-size: rem-calc(14px);
    color: black(0.5);
    &:hover {
        text-decoration: underline;
    }
}

.post-edit-link {
    color: $primary;
    &:hover {
        text-decoration: underline;
        color: black(1)
    }
}

.page-links {
	font-size: rem-calc(14px);
	color: black(0.5);
	a {
		@include link-colors(black(0.5), $gray);
		@include hover-link;
		padding: rem-calc(3px) rem-calc(5px);
	}
}
.format-gallery .page-links {
	padding-left: 10px;
}